---
import { Image } from 'astro:assets';
import ruby_icon from '../assets/images/tech_icons/ruby.svg'
import js_icon from '../assets/images/tech_icons/javascript.svg'
import react_icon from '../assets/images/tech_icons/react.svg'
import html_icon from '../assets/images/tech_icons/html-5.svg'
import css_icon from '../assets/images/tech_icons/css-3.svg'
import tailwind_icon from '../assets/images/tech_icons/tailwindcss-icon.svg'
import postgres_icon from '../assets/images/tech_icons/postgresql.svg'
import redux_icon from '../assets/images/tech_icons/redux.svg'
import rails_icon from '../assets/images/tech_icons/rails.svg'
import git_icon from '../assets/images/tech_icons/git-icon.svg'
---
<section class="bg-white pb-10 pt-14 text-center flex flex-col gap-12" id="about">
  <div>
    <p class="text-2xl font-bold text-tekhelet p-5" id="top">I can help you build a product , feature or website Look through some of my work and experience!<br/> If you like what you see and have a project you need coded,
      <br/>don’t hesitate to contact me.
    </p>
    <button class="bg-thistle p-2 rounded-3xl text-tekhelet font-bold">
      Get My Resume
    </button>
  </div>
  <ul class="grid grid-cols-2 gap-4">
    <li class="flex flex-row justify-center">
      <div class="border p-4 border-indigo rounded-xl hover:bg-lavender max-w-20">
        <Image src={ruby_icon} alt='ruby icon' class="w-10 h-10"/>
      </div>
    </li>
    <li class="flex flex-row justify-center">
      <div class="border border-indigo p-4 rounded-xl max-w-20">
        <Image src={js_icon} alt='ruby icon' class="w-10 h-10"/>
      </div>
    </li>
    <li class="flex flex-row justify-center">
      <div class="border border-indigo p-4 rounded-xl">
        <Image src={react_icon} alt='ruby icon' class="w-10 h-10"/>
      </div>
    </li>
    <li class="flex flex-row justify-center">
      <div class="border border-indigo p-4 rounded-xl">
        <Image src={html_icon} alt='ruby icon' class="w-10 h-10"/>
      </div>
    </li>
    <li class="flex flex-row justify-center">
      <div class="border border-indigo p-4 rounded-xl">
        <Image src={css_icon} alt='ruby icon' class="w-10 h-10"/>
      </div>
    </li>
    <li class="flex flex-row justify-center">
      <div class="border border-indigo p-4 rounded-xl">
        <Image src={tailwind_icon} alt='ruby icon' class="w-10 h-10"/>
      </div>
    </li>
    <li class="flex flex-row justify-center">
      <div class="border border-indigo p-4 rounded-xl">
        <Image src={postgres_icon} alt='ruby icon' class="w-10 h-10"/>
      </div>
    </li>
    <li class="flex flex-row justify-center">
      <div class="border border-indigo p-4 rounded-xl">
        <Image src={redux_icon} alt='ruby icon' class="w-10 h-10"/>
      </div>
    </li>
    <li class="flex flex-row justify-center">
      <div class="border border-indigo p-4 rounded-xl">
        <Image src={rails_icon} alt='ruby icon' class="w-10 h-10"/>
      </div>
    </li>
    <li class="flex flex-row justify-center">
      <div class="border border-indigo p-4 rounded-xl">
        <Image src={git_icon} alt='ruby icon' class="w-10 h-10"/>
      </div>
    </li>
  </ul>
</section>
